In [4]:
import pandas as pd
import seaborn as sns

%matplotlib inline

# Import datasets

In [5]:
# World Wide matches
wwmatches = pd.read_csv("../wwmatches.csv")

# World Cup Matches
matches = pd.read_csv("../WorldCupMatches.csv")

In [6]:
matches.head()

,Year,Datetime,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,Home Team Initials,Away Team Initials
0,2010.0,11 Jun 2010 - 16:00,Group A,South Africa,1.0,1.0,Mexico,84490.0,0.0,0.0,Ravshan IRMATOV (UZB),ILYASOV Rafael (UZB),KOCHKAROV Bakhadyr (KGZ),RSA,MEX
1,2010.0,11 Jun 2010 - 20:30,Group A,Uruguay,0.0,0.0,France,64100.0,0.0,0.0,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),JEONG Hae Sang (KOR),URU,FRA
2,2010.0,12 Jun 2010 - 13:30,Group B,Korea Republic,2.0,0.0,Greece,31513.0,1.0,0.0,HESTER Michael (NZL),HINTZ Jan Hendrik (NZL),MAKASINI Tevita (TGA),KOR,GRE
3,2010.0,12 Jun 2010 - 16:00,Group B,Argentina,1.0,0.0,Nigeria,55686.0,1.0,0.0,Wolfgang STARK (GER),SALVER Jan-Hendrik (GER),PICKEL Mike (GER),ARG,NGA
4,2010.0,12 Jun 2010 - 20:30,Group C,England,1.0,1.0,USA,38646.0,1.0,1.0,SIMON Carlos (BRA),HAUSMANN Altemir (BRA),BRAATZ Roberto (BRA),ENG,USA

In [7]:
wwmatches

,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,2010-01-02,Iran,Korea DPR,1,0
1,2010-01-02,Qatar,Mali,0,0
2,2010-01-02,Syria,Zimbabwe,6,0
3,2010-01-02,Yemen,Tajikistan,0,1
4,2010-01-03,Angola,Gambia,1,1
5,2010-01-04,Egypt,Mali,1,0
6,2010-01-04,Tanzania,Ivory Coast,0,1
7,2010-01-05,Ghana,Malawi,0,0
8,2010-01-06,Bahrain,Hong Kong,4,0
9,2010-01-06,Benin,Libya,1,0
10,2010-01-06,China,Syria,0,0
11,2010-01-06,Gabon,Mozambique,2,0
12,2010-01-06,Indonesia,Oman,1,2
13,2010-01-06,Kuwait,Australia,2,2
14,2010-01-06,Lebanon,Vietnam,1,1
15,2010-01-06,Singapore,Iran,1,3
16,2010-01-06,Thailand,Jordan,0,0
17,2010-01-06,United Arab Emirates,Malaysia,1,0
18,2010-01-06,Yemen,Japan,2,3
19,2010-01-07,Rwanda,Ivory Coast,0,2
20,2010-01-09,Kenya,Cameroon,1,3
21,2010-01-09,Tunisia,Gambia,1,2
22,2010-01-09,Zambia,Korea Republic,4,2
23,2010-01-10,Angola,Mali,4,4
24,2010-01-11,Ivory Coast,Burkina Faso,0,0
25,2010-01-11,Malawi,Algeria,3,0
26,2010-01-12,Egypt,Nigeria,3,1
27,2010-01-12,Mozambique,Benin,2,2
28,2010-01-13,Cameroon,Gabon,0,1
29,2010-01-13,Zambia,Tunisia,1,1
...,...,...,...,...,...
7556,2018-05-31,Romania,Chile,3,2
7557,2018-05-31,Luxembourg,Senegal,0,0
7558,2018-05-31,Mozambique,Seychelles,2,1
7559,2018-05-31,Comoros,Madagascar,0,1
7560,2018-05-31,Slovakia,Netherlands,1,1
7561,2018-06-01,France,Italy,3,1
7562,2018-06-01,Turkey,Tunisia,2,2
7563,2018-06-01,Korea Republic,Bosnia-Herzegovina,1,3
7564,2018-06-01,Czech Republic,Australia,0,4
7565,2018-06-01,Algeria,Cape Verde,2,3
7566,2018-06-01,Colombia,Egypt,0,0
7567,2018-06-01,Malta,Georgia,0,1
7568,2018-06-01,Botswana,Mauritius,6,0
7569,2018-06-01,Angola,Malawi,0,0
7570,2018-06-01,India,Taiwan,5,0
7571,2018-06-02,El Salvador,Honduras,1,0
7572,2018-06-02,Thailand,China,0,2
7573,2018-06-02,England,Nigeria,2,1
7574,2018-06-02,Montenegro,Slovenia,0,2
7575,2018-06-02,Mexico,Scotland,1,0
7576,2018-06-02,Sweden,Denmark,0,0
7577,2018-06-02,Ireland,USA,2,1
7578,2018-06-02,Belgium,Portugal,0,0
7579,2018-06-02,Austria,Germany,2,1
7580,2018-06-02,Niger,Uganda,2,1
7581,2018-06-02,Iceland,Norway,2,3
7582,2018-06-02,Zambia,Namibia,0,0
7583,2018-06-02,Lesotho,Swaziland,1,0
7584,2018-06-02,Latvia,Estonia,1,0
7585,2018-06-02,Kenya,New Zealand,2,1

# Average Goals

In [8]:
def get_average_goals(home, away, data=wwmatches):
    avg_home = 0
    avg_away = 0
    n = 0
    
    for i in range(len(wwmatches)):
        if (home.lower() in wwmatches.iloc[i]["Home Team Name"].lower() and
            away.lower() in wwmatches.iloc[i]["Away Team Name"].lower()):
                avg_home += wwmatches.iloc[i]["Home Team Goals"]
                avg_away += wwmatches.iloc[i]["Away Team Goals"]
                n+=1
    try:
        return [
            avg_home/n,
            avg_away/n
        ]
    except:
        return 0

In [9]:
get_average_goals("Russia", "Belgium")

[1.5, 2.5]

In [10]:
get_average_goals("Uruguay", "Argentina")

[1.5, 1.0]

In [11]:
get_average_goals("Korea Republic", "Greece")

[2.0, 0.0]

In [14]:
get_average_goals("England", "Belgium")

[1.0, 0.0]